body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 228, 247);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 228, 247);
    /* border: 1px solid aqua; */
    padding: 2%;
    border-radius: 30px;
    box-shadow:  5px 5px 10px #6fa7db, -5px -5px 10px #cee7ff;
}

.heading{
    color: #6fa7db;
}

.element input[type="text"]{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    height: 35px;
    padding: 10px;
    color: rgb(53, 53, 53);
    background-color: rgb(207, 228, 247);
    margin: 10px 10px;
    outline: none;
    border : none;
    box-shadow: inset -5px -5px 10px #e3f2ff , inset 5px 5px 10px #6fa7db ;
    border-radius: 30px;
    /* border : 1px solid rgb(53, 53, 53); */
}

.element input[type="text"]:focus{
    outline: none;
}

.btn-container{
    width: 100%;
}
.btn-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.btn{
    flex-grow: 1;
    background-color:rgb(207, 228, 247) ;
    width: 70px;
    height: 70px;
    margin: 5px;
    padding: 10px;
    border-radius: 100px;
    border:none;
    /* border : 1px solid rgb(53, 53, 53); */
    font-size: 20px;
    font-weight: 500;
    color: rgb(53, 53, 53);
    box-shadow:  5px 5px 10px #6fa7db, -5px -5px 10px #cee7ff;
}

.btn-op{
    background-color: rgb(75, 0, 130);
    color: white;
    box-shadow:  5px 5px 10px rgba(76, 0, 130, 0.308), -5px -5px 10px #cee7ff;
}

.btn-ac{
    /* align-self: center;
    flex-grow: unset; */
    background-color: rgb(255, 99, 71);
    color: white;
    box-shadow:  5px 5px 10px rgb(211, 136, 123), -5px -5px 10px #cee7ff;
}